<div id="<%= dom_id group %>">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 ...">
      <p class="my-5">
        <strong class="block font-medium mb-1"><%= group.title %></strong>
      </p>
      <span><%= group.users.count %> members</span>
      <span class="mx-3">30 posts</span>
      <span class="mx-3">Last Activity 3 days ago.</span>
    </div>
    <div class="... my-5">
      <%= join_or_edit_group_link(group.users, current_user, action_name, group) %>
    </div>
  </div>
  <hr class="mt-6">
</div>
