<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal",
                      turbo_modal_target: "modal",
                      action: "turbo:submit-end->turbo-modal#submitEnd keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground" },
                      class: "animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" do %>
      <div class="max-w-lg max-h-screen w-full relative">
        <div class="m-1 bg-white rounded shadow">
          <div class="px-4 py-12 border border-gray-200 sm:px-6">
            <h2 class="text-lg font-bold text-gray-900 text-4xl">
              New Group
            </h2>
            <%= render "form", group: @group %>
            <%= button_tag "Close", data: { action: "turbo-modal#hideModal" }, type: "button", class: "rounded-lg py-3 px-5 bg-red-600 text-white" %>
          </div>
        </div>
      </div>
  <% end %>
<%-end%>
