<div id="<%= dom_id member %>" class="mt-4">
  <span class="font-bold text-xl"><%= member.name %></span>
  
  <span class="mx-3">
    <%= link_to leave_group_path(@group), data: { turbo_method: :delete }, class: "text-red-600" do %>
      <i class="fa-solid fa-xmark w-6 h-6 inline"></i>
    <%end%>
  </span>
  
</div>
